<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= task.title %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1><%= task.title %></h1>
    <p><%= task.description %></p>
    <a href="/tasks">Back to Tasks</a>
</body>
</html>
