<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blog Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>All Blog Post</h1>
    <a href="/add-post">Add New Post</a>
    <ul>
        <% posts.forEach(post => { %>
            <li><a href="/post?id=<%= post.id %>"><%= post.title %></a></li>
        <% }) %>
    </ul>
</body>
</html>
